body {
  font-family: Helvetica, sans-serif;
  background-color: #fff8dc;
  padding: 1em;
}

header {
  text-align: center;
  margin-bottom: 2em;
}

nav a {
  color: #e2329f;
  text-decoration: none;
  font-weight: bold;
}

.blog-list article {
  border-bottom: 1px solid #ccc;
  margin-bottom: 2em;
  padding-bottom: 1em;
}

.blog-list h2 a {
  color: #333;
  text-decoration: none;
}

.blog-list h2 a:hover {
  color: #e2329f;
}
