body {
  margin: 0;
  font-family: 'Poppins', sans-serif, "Dancing Script";
  background: #fef3c7;
  color: #333;
}
a {
  text-decoration: none;
  color: inherit;
}

/*  --- HERO ---  */
.hero {
  position: relative;
  height: 30vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color : rgb(232, 229, 228);
}
.hero > h1 {
  font-family: "Dancing Script", sans-serif;
  margin-top: 5%;
  font-size: 2.3em;
  width: 80vw;
  
  
}
.hero > h3{
 width: 80%;
 justify-content: center;
 margin-top: 6%;
}
.hero > img {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  object-fit: cover;
  z-index: -2;
  filter: brightness(85%);
}

/* --- FEATURED AND WORKED WITH ---*/
 .featured{
  display: grid;
  justify-items: center;
  font-family: 'Poppins', sans-serif;
  font-size: .85rem;
  height: 18vh;
  background-color: white;
 }
.featured > h2{
  align-self: center;
  
}
 .featured-logo{
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
  margin-top: -2%;
 }
.featured-logo > img {
  width : 20%;
  object-fit: contain;
  object-position: center;
  
}


/* --- SKILLS ---*/

#skills{
  margin-top: 2rem;
  height: 33vh;
 
}

#skills > h3{
  width: 80%;
  justify-self: center;
  text-align: center;
}

.carousel {
  position: relative;
  overflow: hidden;
  max-width: 900px;
  margin: auto;
  overscroll-behavior: contain;
  
}
.carousel-inner {
  display: flex;
  gap: 1%;
  transition: transform 0.5s ease;
  touch-action: none;
  -webkit-overflow-scrolling: auto;
  will-change: transform;
  margin-left: 1%;
}

.carousel-inner.is-swiping {
  transition: none !important;
}
.card {
  flex: 0 0 90%;
  background: white;
  border-radius: 12px;
  padding: 1rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.card > h3{
  text-align: center;
  
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.2);
  border: none;
  color: #fff;
  font-size: 1.5rem;
  padding: 0.5rem 0.8rem;
  cursor: pointer;
  border-radius: 50%;
  z-index: 10;
}

#journey-prev { left: 10px; }
#journey-next { right: 10px; }


/* --- WHAT BREADS SAY --- */
.testimonials{
  display: grid;
  justify-items: center;
  height: 48vh;
}
.testimonials > img{
  width: 80%;
}
.testimonials > h2 {
  align-self: center;
}

/* --- CALL TO ACTION --- */
.cta{
  justify-items: center;
  margin: 0 10%;
  text-align: center;
   margin-bottom: .7rem;
}

.cta > h3{
  justify-self: start;
  
}
/* --- CONTACT US --- */
.contact{
  justify-items: center;
  text-align: center;
  margin: 0 10%;
  margin-bottom: 1rem;
}
.contact > p {
  margin-bottom: -5px;
}

/* --- Section that qualifies companies --- */
.qualify{
  justify-self: center;
  text-align: center;
}



/* --- LINKS TO ONLINE SOURCE --- */
.adLinks{
  width: 90%;
  justify-self: center;
}
.adLinks > h3 {
  margin-left: 5%; 
}

.example{
  display: flex;
  column-gap: 5%;
  
}

.linkImg{
  width: 50px;
  border-radius: 15px;
  align-self: center;
  height: 50px;
}


/* --- media queries section --- */
@media (min-width: 768px) {

    /* --- featured --- */
  .featured{
  height: 20vh;
  background-color: white;
 }

  /* --- skills --- */
  #skills {
    height: auto;
    display: grid;
    justify-items: center;
    background-color: yellow;
  }

  .carousel {
    overflow: visible;
    max-width: 1100px;
  }

  .carousel-inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .5rem;
    transform: none !important;
    margin: 0;
  }

  .card {
    width: 80%;
    aspect-ratio: 1 / 1; /* makes perfect squares */
    display: grid;
    place-items: center;
    padding: 1.5rem;
  }

  .carousel-btn {
    display: none;
  }

}

@media (min-width: 1024px) {

  .carousel {
    overflow: visible;
    padding: 0;
  }

  .carousel-inner {
    transform: none !important;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }

  .card {
    min-width: 100%;
    max-width: 100%;
  }

  .carousel-btn {
    display: none;
  }
}
