body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #fef3c7;
  color: #333;
  display: grid;
  justify-items: center;
  
}

.hero {
  position: relative;
  height: 25vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color : rgb(188, 129, 107);
 
}
.hero > h1 {
  font-family: "Dancing Script", sans-serif;
  margin-top: 1%;
  font-size: 2.3em;
  width: 80%;
  
}
.hero > h3{
 width: 80%;
 justify-content: center;
 margin-top: 0;
}
.hero > img {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  object-fit: cover;
  z-index: -2;
}
 