body {
  margin: 0;
  font-family: "Dancing Script",'Poppins' sans-serif;
  background: #fef3c7;
  color: #333;
  display: grid;
  justify-items: center;
  margin-top: 8%;
}

.main{
   width: 90%;
  justify-items: center;
  

}
 h1{
  font-family: "Dancing Script";
  
  margin-bottom: 1em;
  font-size: 3.2rem;
 }
 span{
  padding-left: 35px;
  margin-top: 15px;
 }
 img{
 width: 350px;
 margin-bottom: 1em;
 
 }
 .testimonial{
  margin-top: 50px;
 }
 h3{
  font-size: 20px;
  width: 90%;
  text-align: center;

 }
 .contact{
  margin-left: -35px;
 
 }