body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #fef3c7;
  color: #333;
  display: grid;
  justify-items: center;
  
}

.hero {
  position: relative;
  height: 25vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color : rgb(188, 129, 107);
 
}
.hero > h1 {
  font-family: "Dancing Script", sans-serif;
  margin-top: 1%;
  font-size: 2.3em;
  width: 80vw;
  
}
.hero > h3{
 width: 80%;
 justify-content: center;
 margin-top: 0;
}
.hero > img {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  object-fit: cover;
  z-index: -2;
}
 .featured{
  border: solid red 1px;
  display: grid;
  justify-items: center;
  font-family: 'Poppins', sans-serif;
  font-size: small;
 }
.featured > div > img {
  width : 55px;
  margin-right: 2px;
}

h3{
  width: 80%;
  text-align: center;
}
.skills{
  border: 1px red solid;
  display: grid;
  justify-items: center;
  grid-row-gap: 8px;
  
}
.card{
  background: white;
  width: 70%;
  border-radius: 12px;
  margin: 0 0.5rem;
  padding: 1rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  font-family: 'Poppins', sans-serif;
  text-align: center;
}